body {
font-family: Arial, Helvetica, sans-serif;
}

.overview {
    margin-bottom: 20px;
}

h1 {
color: black;
font-size: 24px;
font-weight: 100;
line-height: 28px;
margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    margin: 0;
    padding: 0;
}

li:first-letter {
    text-transform: capitalize;
}

.weather-app {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid darkgray;
    border-radius: 5px;
    background-image: url("Cloud 1.jpg");
}



.weather-temperature img {
    margin-right: 20px;
    height: 64px;
    width: 64px;
}

.weather-temperature {
    color: black;
}

.weather-temperature strong {
    color: black;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
    font-weight: bolder;
}

.weather-temperature .active {
    color: black;
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
    cursor: default;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
}

.weather-forecast-date {
font-size: 16px;
color: black;
opacity: 0.5;
}

.weather-forecast-temperature-min {
opacity: 0,5;
}

.weather-forecast-temperatures {
    font-size: 13px;
}

a:link {
    text-decoration: none;
}